<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="bg-blue-50 text-default" x-data="{ off_canvas: false }" :class="{ 'overflow-hidden' : off_canvas }">

  {{ partial "header.html" . }}

  <!-- container -->
  <div class="container flex justify-center gap-4 mx-auto">
    {{ block "container" . }}

    <!-- main -->
    {{ block "main" . }}
    <main class="w-full">
      <div class="flex items-center justify-center py-3 mb-4 text-sm text-center bg-white rounded-lg shadow">
        {{ block "headline" . }}{{ end }}
      </div>
      <div class="grid gap-4 mb-4 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2">
        {{ block "articles" . }}{{ end }}
      </div>
      <div class="mb-4">
        {{ partial "pagination.html" . }}
      </div>
    </main>
    {{ end }}
    <!-- /main -->

    <!-- aside -->
    <aside class="hidden w-full max-w-xs lg:inline-block">
      {{ block "aside" . }}
      <div class="mb-4">
        {{ partial "profile-card.html" . }}
      </div>
      <div class="mb-4">
        {{ partial "article-list.html" . }}
      </div>
      <div class="mb-4">
        {{ partial "search-box.html" . }}
      </div>
      {{ end }}
    </aside>
    <!-- /aside -->

    {{ end }}
  </div>
  <!-- /container -->

  {{ partial "footer.html" . }}

  <!-- Off-Canvas -->
  <aside class="fixed inset-0 bg-black bg-opacity-50" x-show="off_canvas" @click="off_canvas = !off_canvas"></aside>
  <aside class="fixed inset-0 hidden w-full h-full max-w-sm p-3 overflow-y-scroll bg-blue-50" :class="{ 'hidden' : !off_canvas }" x-show="off_canvas">
    {{ block "off-canvas" . }}
    <div class="mb-4">
      {{ partial "profile-card.html" . }}
    </div>
    <div class="mb-4">
      {{ partial "article-list.html" . }}
    </div>
    <div class="mb-4">
      {{ partial "search-box.html" . }}
    </div>
    {{ end }}
  </aside>
  <button class="fixed bottom-0 right-0 flex items-center justify-center w-12 h-12 mb-4 mr-4 text-white rounded-full outline-none bg-primary focus:outline-none lg:invisible ring-1 ring-primary" @click="off_canvas = !off_canvas">
    <i class="fas fa-bars fa-lg fa-fw" x-show="!off_canvas"></i>
    <i class="fas fa-times fa-lg fa-fw" x-show="off_canvas"></i>
  </button>
  <!-- /Off-Canvas -->

</body>

</html>