<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="bg-blue-50 text-default" x-data="{ off_canvas: false }">

  {{ partial "header.html" . }}

  <!-- container -->
  <div class="container flex gap-4 justify-center mx-auto">
    {{ block "container" . }}

    <!-- main -->
    {{ block "main" . }}
    <main class="w-full">
      <div class="bg-white mb-4 py-3 rounded-lg shadow text-center text-sm">
        {{ block "meter" . }}{{ end }}
      </div>
      <div class="grid gap-4 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 mb-4">
        {{ block "articles" . }}{{ end }}
      </div>
      <div class="mb-4">
        {{ partial "pagination.html" . }}
      </div>
    </main>
    {{ end }}
    <!-- /main -->

    <!-- aside -->
    <aside class="hidden max-w-xs w-full xl:inline-block">
      {{ block "aside" . }}
      {{ if .Site.Params.searchEngineID }}
      <div class="mb-4">
        {{ partial "google-ads.html" (dict "layout" "search-engine") }}
      </div>
      {{ end }}
      <div class="mb-4">
        {{ partial "profile-card.html" . }}
      </div>
      <div class="mb-4">
        {{ partial "article-list.html" . }}
      </div>
      <div class="mb-4">
        {{ partial "tag-list.html" . }}
      </div>
      {{ end }}
    </aside>
    <!-- /aside -->

    {{ end }}
  </div>
  <!-- /container -->

  {{ partial "footer.html" . }}

  <!-- Off-Canvas -->
  <!-- <aside class="bg-black bg-opacity-50 fixed inset-0" x-show="off_canvas" @click="off_canvas = false"></aside> -->
  <!-- <aside class="bg-blue-50 fixed h-full inset-0 max-w-xs overflow-y-scroll p-3 w-full" x-show="off_canvas">
  </aside> -->
  <!-- <button class="focus:outline-none outline-none bg-primary bottom-0 duration-500 fixed flex h-12 hover:bg-white hover:text-primary items-center justify-center mb-4 mr-4 right-0 ring-1 ring-primary rounded-full text-white w-12 xl:invisible" @click="off_canvas = true">
    <i class="fas fa-bars fa-lg fa-fw"></i>
  </button> -->
  <!-- /Off-Canvas -->

</body>

</html>