<div>
  <article class="overflow-hidden rounded-lg shadow">
    <a href="{{ .Permalink }}">
      <img class="object-center duration-500 bg-gray-200 hover:opacity-50" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
    </a>
    <div class="px-6 py-4 bg-white">
      <h2 class="mb-3">
        <a href="{{ .Permalink }}" class="text-sm font-medium duration-500 hover:text-primary text-secondary">
          {{ .Title }}
        </a>
      </h2>
      <div class="flex items-center justify-between text-xs">
        {{ if .CurrentSection.IsSection }}
        <a class="px-2 py-1 duration-500 border rounded-full hover:bg-primary hover:border-primary hover:text-white" href="{{ .CurrentSection.Permalink }}">
          {{ .CurrentSection.Title }}
        </a>
        {{ else }}
        <div class="px-2 py-1 duration-500 border rounded-full">
          Uncategorized
        </div>
        {{ end }}
        <span>
          <i class="mr-1 far fa-clock"></i>
          {{ .Lastmod.Format "2006-01-02" }}
        </span>
      </div>
    </div>
  </article>
</div>