<div>
  <article class="overflow-hidden rounded-lg shadow">
    <a href="{{ .Permalink }}">
      <img class="duration-500 hover:opacity-50 object-center" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
    </a>
    <div class="bg-white px-6 py-4">
      <h2 class="mb-3">
        <a href="{{ .Permalink }}" class="duration-500 hover:text-primary text-sm font-medium text-secondary">
          {{ .Title }}
        </a>
      </h2>
      <div class="flex justify-between items-center text-xs">
        {{ with .Params.tags }}
        <a class="border duration-500 hover:bg-primary hover:border-primary hover:text-white px-2 py-1 rounded-full" href="/tags/{{ index . 0 | lower }}">
          {{ index . 0 }}
        </a>
        {{ end }}
        <span>
          <i class="far fa-clock"></i>
          {{ .Lastmod.Format "2006-01-02" }}
        </span>
      </div>
    </div>
  </article>
</div>