{{ define "headline" }}
<a class="duration-500 hover:text-primary" href="{{ .Site.BaseURL }}">
  <i class="mr-2 fas fa-home"></i>
  <span class="mr-2">
    Home
  </span>
</a>
{{ if not .Parent.IsHome }}
<span class="mr-2">
  /
</span>
<a class="duration-500 hover:text-primary" href="{{ .Parent.Permalink }}">
  <i class="mr-2 fas fa-folder"></i>
  <span class="mr-2">
    {{ .Parent.Title }}
  </span>
</a>
{{ end }}
<span class="mr-2">
  /
</span>
<i class="mr-2 fas fa-folder"></i>
<span class="mr-2">
  {{ .Title }}
</span>
<span class="flex items-center justify-center px-2 py-1 text-xs border rounded-full">
  {{ len .RegularPagesRecursive }}
</span>
{{ end }}

{{ define "articles" }}
{{ range (.Paginate .RegularPagesRecursive.ByLastmod.Reverse).Pages }}
{{ .Render "list" }}
{{ end }}
{{ end }}