{{ define "main" }}
<main class="max-w-3xl w-full mb-4">
  <article class="bg-white mb-4 md:p-6 p-3 rounded-lg">
    <!-- Tag -->
    {{ if .Params.tags }}
    <div class="mb-8">
      {{ range .Params.tags }}
      <a class="border duration-500 hover:bg-primary hover:border-primary hover:text-white inline-block mr-2 my-1 px-3 py-1 rounded-full text-sm" href="/tags/{{ . | lower | anchorize }}">
        {{ . }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    <!-- /Tag -->
    <!-- Title -->
    <h1 class="text-2xl text-secondary mb-8 font-medium">
      {{ .Title }}
    </h1>
    <!-- /Title -->
    <!-- Date -->
    <div class="float-right mb-8">
      <span class="mr-2">
        <i class="far fa-calendar-alt mr-1"></i>
        </i>{{ .PublishDate.Format "2006-01-02" }}
      </span>
      <span>
        <i class="fas fa-sync-alt mr-1"></i>
        {{ .Lastmod.Format "2006-01-02" }}
      </span>
    </div>
    <!-- /Date -->
    <!-- Thumbnail -->
    <img class="bg-gray-200 border mb-8 rounded-lg w-full" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
    <!-- /Thumbnail -->
    <!-- Social Button -->
    <div class="mb-8">
      {{ partial "social-btn.html" . }}
    </div>
    <!-- /Social Button -->
    <!-- Google AdSense: in-article -->
    {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
    {{ partial "google-ads.html" (dict "layout" "in-article" "client" .Site.Params.googleAdsClientID "slot" "4483552214") }}
    {{ end }}
    <!-- /Google AdSense: in-article -->
    <!-- Content -->
    <div class="content mb-8">
      {{ $content := .Content }}
      {{ range findRE "id=\".+?\"" .Content }}
      {{ $hash := . | replaceRE "id=\"" "" | replaceRE "\"" "" | md5 }}
      {{ $content = $content | replaceRE . (print "id=\"_" $hash "\"") }}
      {{ end }}
      {{ range findRE "href=\"#.+?\"" $content }}
      {{ $hash := . | replaceRE "href=\"" "" | replaceRE "\"" "" | replaceRE "#" "" | md5 }}
      {{ $content = $content | replaceRE . (print "href=\"#_" $hash "\"") }}
      {{ end }}
      {{ $content | safeHTML }}
    </div>
    <!-- /Content -->
    <!-- Social Button -->
    <div>
      {{ partial "social-btn.html" . }}
    </div>
    <!-- /Social Button -->
  </article>
  <!-- Google AdSense: display-main-bottom -->
  {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
  <aside class="flex mb-4">
    <aside class="w-full">
      {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "8235772967") }}
    </aside>
    <aside class="w-full">
      {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "8235772967") }}
    </aside>
  </aside>
  {{ end }}
  <!-- /Google AdSense: display-main-bottom -->
</main>
<aside class="hidden max-w-xs w-full xl:inline-block mb-4">
  <!-- Google AdSense: display-side-top -->
  {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
  <div class="mb-4">
    {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "8603021706") }}
  </div>
  {{ end }}
  <!-- /Google AdSense: display-side-top -->
  <div class="mb-4">
    {{ partial "profile-card.html" . }}
  </div>
  <div class="sticky top-4">
    {{ if and .Site.Params.searchEngineID .Params.googleAds }}
    <div class="mb-4">
      {{ partial "google-ads.html" (dict "layout" "search-engine") }}
    </div>
    {{ end }}
    <div class="mb-4">
      {{ partial "toc.html" . }}
    </div>
    <div class="mb-4">
      {{ partial "article-list.html" . }}
    </div>
    <!-- Google AdSense: display-side-bottom -->
    {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
    <div class="mb-4">
      {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "5274132935" ) }}
    </div>
    {{ end }}
    <!-- /Google AdSense: display-side-bottom -->
  </div>
</aside>
{{ end }}

{{ define "aside" }}
<div class="mb-4">
  {{ partial "profile-card.html" . }}
</div>
{{ if .Site.Params.searchEngineID }}
<div class="mb-4">
  {{ partial "google-ads.html" (dict "layout" "search-engine") }}
</div>
{{ end }}
<div class="mb-4">
  {{ partial "toc.html" . }}
</div>
<div class="mb-4">
  {{ partial "article-list.html" . }}
</div>
{{ end }}