{{ define "main" }}
<main class="max-w-3xl w-full">
  <article class="bg-white mb-4 md:p-6 p-3 rounded-lg">
    <!-- Category &  Date Time -->
    <div class="md:flex items-center justify-between">
      <div class="mb-8">
        {{ partial "breadcrumb.html" .Parent }}
      </div>
      <div class="flex mb-8">
        <div class="mr-4">
          <i class="far fa-calendar-alt mr-2"></i>
          {{ .PublishDate.Format "2006-01-02" }}
        </div>
        <div class="mr-4">
          <i class="fas fa-sync-alt mr-2"></i>
          {{ .Lastmod.Format "2006-01-02" }}
        </div>
        <div>
          <i class="fas fa-book-open mr-2"></i>
          {{ .ReadingTime }}
          min
        </div>
      </div>
    </div>
    <!-- /Category &  Date Time -->
    <!-- Title -->
    <h1 class="text-2xl text-secondary mb-8 font-medium">
      {{ .Title }}
    </h1>
    <!-- /Title -->
    <!-- Tag -->
    {{ if .Params.tags }}
    <div class="mb-8 flex flex-wrap">
      {{ range .Params.tags }}
      <a class="border duration-500 hover:bg-primary hover:border-primary hover:text-white inline-block mr-2 my-1 px-2 py-1 rounded-full text-sm" href="/tags/{{ . | urlize | lower }}">
        {{ . }}
      </a>
      {{ end }}
    </div>
    {{ end }}
    <!-- /Tag -->
    <!-- Thumbnail -->
    <img class="bg-gray-200 border mb-8 rounded-lg w-full" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
    <!-- /Thumbnail -->
    <!-- Social Button -->
    <div class="mb-8">
      {{ partial "social-btn.html" . }}
    </div>
    <!-- /Social Button -->
    <!-- Google AdSense: in-article -->
    {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
    {{ partial "google-ads.html" (dict "layout" "in-article" "client" .Site.Params.googleAdsClientID "slot" "4483552214") }}
    {{ end }}
    <!-- /Google AdSense: in-article -->
    <!-- Content -->
    <div class="content mb-6">
      {{ $content := .Content }}
      {{ range findRE "id=\".+?\"" .Content }}
      {{ $hash := . | replaceRE "id=\"" "" | replaceRE "\"" "" | md5 }}
      {{ $content = $content | replaceRE . (print "id=\"_" $hash "\"") }}
      {{ end }}
      {{ range findRE "href=\"#.+?\"" $content }}
      {{ $hash := . | replaceRE "href=\"" "" | replaceRE "\"" "" | replaceRE "#" "" | md5 }}
      {{ $content = $content | replaceRE . (print "href=\"#_" $hash "\"") }}
      {{ end }}
      {{ $content | safeHTML }}
    </div>
    <!-- /Content -->
    <!-- Social Button -->
    <div>
      {{ partial "social-btn.html" . }}
    </div>
    <!-- /Social Button -->
  </article>
  <!-- Google AdSense: display-main-bottom -->
  {{ if and .Site.Params.googleAdsClientID .Params.googleAds }}
  <aside class="flex mb-4">
    <aside class="w-full">
      {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "8235772967") }}
    </aside>
    <aside class="w-full">
      {{ partial "google-ads.html" (dict "layout" "display" "client" .Site.Params.googleAdsClientID "slot" "8235772967") }}
    </aside>
  </aside>
  {{ end }}
  <!-- /Google AdSense: display-main-bottom -->
</main>
{{ end }}

{{ define "aside" }}
<div class="mb-4">
  {{ partial "profile-card.html" . }}
</div>
<div class="sticky top-4">
  <div class="mb-4">
    {{ partial "toc.html" . }}
  </div>
  <div class="mb-4">
    {{ partial "article-list.html" . }}
  </div>
  <div class="mb-4">
    {{ partial "search-box.html" . }}
  </div>
</div>
{{ end }}