<div class="bg-white rounded-lg overflow-hidden shadow" x-data="{ tab: {{ .IsPage }} ? 'related' : 'popular' }">
  <header class="flex justify-around text-center text-sm">
    <button class="duration-500 focus:outline-none outline-none py-3 w-full" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'related' }" @click="tab = 'related'" x-show="{{ .IsPage }}">関連記事</button>
    <button class="duration-500 focus:outline-none outline-none py-3 w-full" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'popular' }" @click="tab = 'popular'">人気記事</button>
    <button class="duration-500 focus:outline-none outline-none py-3 w-full" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'latest' }" @click="tab = 'latest'">最新記事</button>
  </header>
  <div x-show="tab === 'related'">
    <ul>
      {{ range .Site.RegularPages.Related . | first 5 }}
      <li>
        <a href="{{ .Permalink }}" aria-label="" class="border-b content-center duration-500 flex group hover:bg-secondary items-center px-4 py-3">
          <img class="bg-gray-200 h-12 mr-3 object-center object-cover rounded-full w-12" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
          <div class="duration-500 group-hover:text-white text-sm">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div x-show="tab === 'popular'">
    <ul>
      {{ range .Site.RegularPages.ByWeight | first 5 }}
      <li>
        <a href="{{ .Permalink }}" aria-label="" class="border-b content-center duration-500 flex group hover:bg-secondary items-center px-4 py-3">
          <img class="bg-gray-200 h-12 mr-3 object-center object-cover rounded-full w-12" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
          <div class="duration-500 group-hover:text-white text-sm">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div x-show="tab === 'latest'">
    <ul>
      {{ range .Site.RegularPages.ByLastmod.Reverse | first 5 }}
      <li>
        <a href="{{ .Permalink }}" aria-label="" class="border-b content-center duration-500 flex group hover:bg-secondary items-center px-4 py-3">
          <img class="bg-gray-200 h-12 mr-3 object-center object-cover rounded-full w-12" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
          <div class="duration-500 group-hover:text-white text-sm">
            {{ .Title }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>