<div class="overflow-hidden text-sm bg-white rounded-lg shadow" x-data="{ tab: {{ .IsPage }} ? 'related' : 'popular' }">
  <header class="flex justify-around text-center">
    <button class="w-full py-3 duration-500 outline-none focus:outline-none" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'related' }" @click="tab = 'related'" x-show="{{ .IsPage }}">
      関連記事
    </button>
    <button class="w-full py-3 duration-500 outline-none focus:outline-none" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'popular' }" @click="tab = 'popular'">
      人気記事
    </button>
    <button class="w-full py-3 duration-500 outline-none focus:outline-none" :class="{ 'bg-gray-200 hover:bg-primary hover:text-white': tab !== 'latest' }" @click="tab = 'latest'">
      最新記事
    </button>
  </header>
  <ul x-show="tab === 'related'">
    {{ range .Site.RegularPages.Related . | first 5 }}
    {{ template "article-list__article" . }}
    {{ end }}
  </ul>
  <ul x-show="tab === 'popular'">
    {{ range .Site.RegularPages.ByWeight | first 5 }}
    {{ template "article-list__article" . }}
    {{ end }}
  </ul>
  <ul x-show="tab === 'latest'">
    {{ range .Site.RegularPages.ByLastmod.Reverse | first 5 }}
    {{ template "article-list__article" . }}
    {{ end }}
  </ul>
</div>

{{ define "article-list__article" }}
<li>
  <a href="{{ .Permalink }}" aria-label="" class="flex items-center content-center px-4 py-3 duration-500 border-b group hover:bg-secondary">
    <img class="object-cover object-center w-12 h-12 mr-3 bg-gray-200 rounded-full" src="{{ if .Params.image }}{{ .Permalink }}/{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}/img/default.png{{ end }}" alt="thumbnail" />
    <div class="w-full duration-500 group-hover:text-white">
      <div class="mb-2">
        {{ .Title }}
      </div>
      <div class="flex items-center justify-between text-xs">
        <span class="px-2 py-1 border rounded-full">
          {{ if .CurrentSection.IsSection }}
          {{ .CurrentSection.Title }}
          {{ else }}
          Uncategorized
          {{ end }}
        </span>
        <span>
          <i class="mr-1 far fa-clock"></i>
          {{ .Lastmod.Format "2006-01-02" }}
        </span>
      </div>
    </div>
  </a>
</li>
{{ end }}