<ol class="flex flex-wrap">
  {{ template "breadcrumb" . }}
</ol>
{{ define "breadcrumb" }}
{{ if .IsHome }}
<li>
  <a class="duration-500 hover:text-primary" href="{{ .Permalink }}">
    <i class="mr-2 fas fa-home"></i>
    <span class="mr-2">
      Home
    </span>
  </a>
</li>
{{ else if .Parent }}
{{ template "breadcrumb" .Parent }}
<li class="mr-2">
  /
</li>
<li>
  <a class="duration-500 hover:text-primary" href="{{ .Permalink }}">
    <i class="mr-2 fas fa-folder"></i>
    <span class="mr-2">
      {{ .Title }}
    </span>
  </a>
</li>
{{ end }}
{{ end }}