{{ if .IsHome }}
<div class="bg-white overflow-hidden rounded-lg shadow text-sm">
  <header class="border-b py-3 text-center">
    カテゴリー
  </header>
  {{ if (len .Sections) }}
  <ul class="py-2 px-4">
    {{ range .Sections }}
    <li>
      <a class="duration-500 flex group hover:text-primary items-center justify-between py-2" href="{{.Permalink}}">
        <div>
          {{ if .Parent.Parent }}
          <i class="fas fa-angle-right mr-2"></i>
          {{ end }}
          {{ .Title }}
        </div>
        <span class="border duration-500 flex group-hover:bg-primary group-hover:border-primary group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          {{ len .RegularPagesRecursive }}
        </span>
      </a>
    </li>
    {{ partial "category-list" . }}
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ else }}
{{ if (len .Sections) }}
<ul class="ml-3">
  {{ range .Sections }}
  <li>
    <a class="duration-500 flex group hover:text-primary items-center justify-between py-2" href="{{.Permalink}}">
      <div>
        {{ if .Parent.Parent }}
        <i class="fas fa-angle-right mr-2"></i>
        {{ end }}
        {{ .Title }}
      </div>
      <span class="border duration-500 flex group-hover:bg-primary group-hover:border-primary group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
        {{ len .RegularPagesRecursive }}
      </span>
    </a>
  </li>
  {{ partial "category-list" . }}
  {{ end }}
</ul>
{{ end }}
{{ end }}