<div class="overflow-hidden text-sm bg-white rounded-lg shadow">
  <header class="py-3 text-center border-b">
    記事検索
  </header>
  <div class="p-4">
    <!-- Google Search -->
    {{ if .Site.Params.searchEngineID }}
    <div class="mb-4">
      <form id="cse-search-box" action="https://google.com/cse" target="_blank" class="flex h-9 ">
        <input type="hidden" name="cx" value="7d4fbdf46b543edda" />
        <input type="text" name="q" placeholder="- キーワードで検索する -" class="w-full text-sm border-gray-200 rounded-l-lg focus:border-gray-200 focus:ring-0" />
        <button aria-label="submit" type="submit" class="w-1/3 text-white duration-500 border rounded-r-lg hover:text-primary border-primary bg-primary hover:bg-white">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    {{ end }}
    <!-- /Google Search -->
    <!-- Category -->
    <select class="w-full mb-4 text-sm border-gray-200 rounded-lg focus:border-gray-200 focus:ring-0" name="tag" onChange="location.href=value;">
      <option class="text-base" selected>
        - カテゴリーで検索する -
      </option>
      {{ range .Site.Sections }}
      {{ if (len .RegularPagesRecursive) }}
      <option class="text-base" value="{{ .Permalink }}">
        {{ .Title }} ({{ len .RegularPagesRecursive }})
      </option>
      {{ range .Sections }}
      <option class="text-base" value="{{ .Permalink }}">
        &nbsp;>&nbsp;{{ .Title }} ({{ len .RegularPagesRecursive }})
      </option>
      {{ end }}
      {{ end }}
      {{ end }}
    </select>
    <!-- /Category -->
    <!-- Tag -->
    <select class="w-full text-sm border-gray-200 rounded-lg focus:border-gray-200 focus:ring-0" name="tag" onChange="location.href=value;">
      <option class="text-base" selected>
        - タグで検索する -
      </option>
      {{ range .Site.Taxonomies.tags.ByCount }}
      <option class="text-base" value="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
        {{ .Page.Title }} ({{ .Count }})
      </option>
      {{ end }}
    </select>
    <!-- /Tag -->
  </div>
</div>