<div class="flex text-center text-white">
  <a aria-label="facebook" class="w-full py-2 duration-500 border rounded-l-lg bg-facebook hover:bg-white border-facebook hover:text-facebook" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-facebook-f fa-fw"></i>
  </a>
  <a aria-label="twitter" class="w-full py-2 duration-500 border bg-twitter hover:bg-white border-twitter hover:text-twitter" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}｜{{ .Site.Title }}{{ with .Site.Author.twitter }}&via={{ . }}{{ end }}" target="_blank" rel="noopener">
    <i class="fab fa-twitter fa-fw"></i>
  </a>
  <a aria-label="pocket" class="w-full py-2 duration-500 border bg-pocket hover:bg-white border-pocket hover:text-pocket" href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-get-pocket fa-fw"></i>
  </a>
  <a aria-label="hatena" class="w-full py-2 duration-500 border bg-hatena hover:bg-white border-hatena hover:text-hatena" href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}｜{{ .Site.Title }}" target="_blank" rel="noopener">
    <i class="fab fa-hatena fa-fw"></i>
  </a>
  <a aria-label="rss" class="w-full py-2 duration-500 border rounded-r-lg bg-rss hover:bg-white border-rss hover:text-rss" href="{{ .Site.BaseURL }}/index.xml" target="_blank" rel="noopener">
    <i class="fas fa-rss fa-fw"></i>
  </a>
</div>