<div class="bg-white overflow-hidden rounded-lg shadow text-sm" x-data="{ show: false }">
  <header class="py-3 text-center">
    <span class="mr-1">タグ</span>
    {{ (len .Site.Taxonomies.tags) }}
    個
  </header>
  <hr>
  {{ if lt .Site.Params.tagLength (len .Site.Taxonomies.tags) }}
  <ul>
    {{ range .Site.Taxonomies.tags.ByCount | first .Site.Params.tagLength }}
    <li>
      <a class="duration-500 flex group hover:bg-secondary items-center justify-between px-4 py-2" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
        <span class="group-hover:text-white duration-500">
          {{ .Page.Title }}
        </span>
        <span class="border duration-500 flex group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          {{ .Count }}
        </span>
      </a>
    </li>
    <hr>
    {{ end }}
    <li>
      <button class="duration-500 flex group hover:bg-secondary items-center justify-between px-4 py-2 w-full" @click="show = true" x-show="!show">
        <span class="group-hover:text-white duration-500">
          Show Tags
        </span>
        <span class="border duration-500 flex group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </li>
  </ul>
  <ul x-show="show">
    {{ range .Site.Taxonomies.tags.ByCount | last (sub (len .Site.Taxonomies.tags) .Site.Params.tagLength) }}
    <li>
      <a class="duration-500 flex group hover:bg-secondary items-center justify-between px-4 py-2" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
        <span class="group-hover:text-white duration-500">
          {{ .Page.Title }}
        </span>
        <span class="border duration-500 flex group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          {{ .Count }}
        </span>
      </a>
    </li>
    <hr>
    {{ end }}
    <li>
      <button class="duration-500 flex group hover:bg-secondary items-center justify-between px-4 py-2 w-full" @click="show = false" x-show="show">
        <span class="group-hover:text-white duration-500">
          Hide Tags
        </span>
        <span class="border duration-500 flex group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          <i class="fas fa-minus"></i>
        </span>
      </button>
    </li>
  </ul>
  {{ else }}
  <ul>
    {{ range .Site.Taxonomies.tags.ByCount  }}
    <li>
      <a class="duration-500 flex group hover:bg-secondary items-center justify-between px-4 py-2" href="{{ $.Site.BaseURL }}/tags/{{ .Name }}">
        <span class="group-hover:text-white duration-500">
          {{ .Page.Title }}
        </span>
        <span class="border duration-500 flex group-hover:text-white h-6 items-center justify-center rounded-full text-xs w-6">
          {{ .Count }}
        </span>
      </a>
    </li>
    <hr>
    {{ end }}
  </ul>
  {{ end }}
</div>